{% extends '2_col_base.html' %}
{% load static %}
{% load gravatar %}
{% block title %}{{ offered_course }}{% endblock title %}
{% block left_col_title %}
{% endblock %}
{% block left_col %}
    <ul>
        <li>
            <a href=""></a>
            Home
        </li>
        <li>
            Syllabus
        </li>
        <li>
            Assignments
        </li>
        <li>
            Grades
        </li>
        <li>
            Discussion
        </li>
        <li>
            Resources
        </li>
    </ul>
{% endblock %}
{% block right_col_title %}
{% endblock %}
{% block right_col %}
{% endblock %}