{% extends 'page/course_page.html' %}
{% load static %}
{% load gravatar %}
{% block right_col_title %}
    Other Offers
{% endblock %}
{% block right_col %}
    <ul>
        {% for item in offered_courses %}

            <li>
                <a href="{% url 'course' item.year.year item.term item.course.course_number item.group_number %}">
                    {{ item }}
                </a>
                <ul>
                    {% for TA in item.page.last.teacher_assistants.all %}
                        <li>
                            +TA: <a href="mailto: {{ TA.student.email }}">{{ TA.student.get_full_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
