{% extends '2_col_base.html' %}
{% load static %}
{% load gravatar %}
{% block title %}Dashboard{% endblock title %}
{% block footer %}{% endblock %}
{% block extra_styles %}
{% endblock %}
{% block left_col_title %}
    Profile
{% endblock %}
{% block left_col %}

    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="">
                Edit Profile
            </a>
        </li>
        <li>
            <a href="">
                My Grades
            </a>
        </li>
        <li>
            <a href="">
                My Assignments
            </a>
        </li>
    </ul>
{% endblock %}
{% block right_col_title %}
    My Courses
{% endblock %}
{% block right_col %}
    <ul>
        {% for item in my_courses %}
            <li>
                <a href="{% url 'course' item.year.year item.term item.course.course_number item.group_number %}">
                    {{ item }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}